h2{
    font-family: fantasy;
    text-align: center;
    text-decoration: HighlightText;
    font-weight: bold;
    background-color: bisque;
    border-radius: 10px;
    padding: 20px;
}
p{
    background-color: bisque;
    color: black;
    border-radius: 20px;
    padding: 20px;
}
nav{
    list-style: none;
    display: flex;
}
body{
    background-color: saddlebrown;
}
.member_table{
    width: 100%;
    padding: 10px;
}
.form-group{
    padding: 10px;
    background-color: bisque;
    border-radius: 10px;
    margin-bottom: 10px;

}