{% extends 'base.html' %}
{% block content %}

<h1>ABOUT US</h1>
<div id="carouselExampleIndicators" class="carousel slide w-75 mx-auto" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/assets/images/jcx516-rose-5201410_1920.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/assets/images/nvd9612-flower-7937334_1920.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/assets/images/virandek-bouquet-168831_1920.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h2>OUR HISTORY</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at consequatur dolorem iure repellat voluptates. Asperiores deserunt eius error, et exercitationem iusto laudantium magni molestiae, molestias quae quis sapiente sed totam. Autem cumque dolor, doloremque dolores eveniet illum nesciunt nihil soluta unde voluptate? Delectus dicta distinctio enim error, explicabo, facere ipsam nemo nihil perspiciatis praesentium, quia repellendus reprehenderit vel voluptatum.</p>
<h3>OUR MISSION</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolores esse ut? Ad aliquid aspernatur culpa cum, distinctio et eum ex in maxime necessitatibus, obcaecati, reiciendis unde vero. Adipisci amet excepturi ipsam laboriosam molestiae nemo quae quaerat suscipit vel. Tempora!</p>
<h3>OUR VISION</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores excepturi, fuga necessitatibus officiis quaerat ullam vero voluptatibus! A dolorem eos eum laborum molestias quam quo quos velit voluptate. A animi id iure officia repellat, rerum voluptates? Aperiam ex ratione tempore.</p>






{% endblock %}