{% extends 'base.html' %}
{% block content %}



<div class="container mt-5">
  <h2 class="mb-4">Member List</h2>

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>NAME</th>
          <th>MEMBER NUMBER</th>
          <th>PHONE NO.</th>
          <th>EMAIL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Doe</td>
          <td>101</td>
          <td>071234567</td>
          <td>johndoe@gmail.com</td>
        </tr>
        <tr>
          <td>Jane Smith</td>
          <td>102</td>
          <td>072345678</td>
          <td>janesmith@gmail.com</td>
        </tr>
        <tr>
          <td>Mike Brown</td>
          <td>103</td>
          <td>073456789</td>
          <td>mikebrown@gmail.com</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button>BACK</button>
</div>

{% endblock %}